@import url(../blocks/video/video.css);
.video__iframes{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
    display: flex;
    justify-content: center;
  }
  .video__iframe{
    padding: 50px 20px 0 0;
  }
  .video{
    padding-top: 100px;
  }