.footer__column{
    display: flex;
    flex-direction: column;
  }
  .footer__column_content_copyright{
    color: white;
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__column-heading{
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .footer__column-link{
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
  }
  .footer__column-links{
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }